.DS_Store
*.log.*
*.pyc
__pycache__/
*:Zone.Identifier
*.tmp
*.swp
.env
python_apps/runtime_logs/
python_apps_with_db/runtime_logs/
python_apps_with_db/server/*.log
python_apps_with_db/client/*.log
log_analysed/python_apps/
